#headerbox { background: #c0b0ff; width: 100%; height: 60pt; position: fixed; margin:0pt 0pt 0pt 0pt; font-family: "Comic Sans MS", sans-serif; z-index:100; top: 0px; left: 0px; }
#navibox { background: #c0b0ff; width: 15%; height: 100%; position: fixed; margin-left: 0pt; padding-left: 5pt; top: 60pt; padding-top: 15pt; font-size: 14pt; z-index: 100; left: 0pt; }
#contentbox { font-size: 12pt; padding-left: 5pt; padding-right: 5pt; padding-top: 10pt; padding-bottom: 5pt; position: absolute; width: 75%; left: 17%; top: 70pt; z-index: 0; font-family: helvetica, sans-serif; }


#heading { color: #000000; width: 100%; font-size: 24pt; text-align: center; }
#subheading { color: #000000; width:100%; font-size: 12pt; text-align: center; }


.head1 { font-size: 16pt; margin-top: 10pt; margin-bottom: 3pt; }
.head2 { font-size: 14pt; }
.bold { font-weight: bold; }

a { text-decoration: none; }
