<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="de.uni_freiburg.informatik.ultimate.ep.generator">
      <impl class="de.uni_freiburg.informatik.ultimate.plugins.generator.automatascriptinterpreter.AutomataScriptInterpreter">
      </impl>
   </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="de.uni_freiburg.informatik.ultimate.core.coreplugin.preferences.ToolsPreferencePage"
          class="automatascriptinterpreter.preferences.PreferencePage"
          id="automatascriptinterpreter.preferences.PreferencePage"
          name="Automata Script Interpreter Preferences">
    </page>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="automatascriptinterpreter.preferences.PreferenceInitializer">
    </initializer>
 </extension>
</plugin>
