language: java
jdk:
# - oraclejdk8
 - openjdk8

os:
 - linux
 
env:
  global:
   - JAVA_OPTS="-enableassertions -Xmx2g"
   - _JAVA_OPTIONS="-enableassertions -Xmx2g"

before_script:
  - free -g
  - uname -a
  - cat /proc/cpuinfo
  - wget http://www.lsv.ens-cachan.fr/~gastin/ltl2ba/ltl2ba-1.2b1.tar.gz -O /tmp/ltl2ba.tar.gz
  - tar -xvf /tmp/ltl2ba.tar.gz
  - cd ltl2ba-1.2b1 && make && cd ..
  - export PATH=$PATH:$PWD/ltl2ba-1.2b1:$PWD/releaseScripts/default/adds
   
script: 
  - while true; do sleep 10 && echo -n "."; done &
  - cd trunk/source/BA_MavenParentUltimate && mvn clean install -Ptravis -Dmaven.test.failure.ignore=true 
  - kill $!

after_success:
  - mvn clean test jacoco:report coveralls:report -Ptravis
  
branches:
  only:
    - dev
    - stable

notifications:
  irc:
    channels:
      - "irc.quakenet.org#sopra-crew"
    on_success: change
    on_failure: always
    template:
      - "%{repository} (%{branch}:%{commit} by %{author}): %{message} (%{build_url})"
    skip_join: true	
    use_notice: true
  email: 
    on_success: change
    on_failure: always

sudo: false
#dist: trusty
