<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="local.stalin.ep.generator">
      <impl class="local.stalin.plugins.generator.traceabstraction.TraceAbstraction">
      </impl>
   </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="traceabstraction.AbstractPreferenceInitializer1">
    </initializer>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="local.stalin.plugins.generator.traceabstraction.preferences.PreferencePage"
          id="TraceAbstraction.page1"
          name="TraceAbstraction">
    </page>
 </extension>
</plugin>
