<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="local.stalin.ep.controller">
      <impl
            class="local.stalin.gui.GuiController"
            isGraphical="true"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="local.stalin.gui.StalinDefaultPerspective"
            id="local.stalin.gui.StalinDefaultPerspective"
            name="default perspective"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="local.stalin.gui.views.LoggingView"
            id="local.stalin.gui.views.LoggingView"
            name="Logging Window"/>
      <view
            class="local.stalin.gui.views.NodeView"
            id="local.stalin.gui.views.NodeView"
            name="NodeView"/>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
          <perspectiveExtension targetID="local.stalin.gui.StalinDefaultPerspective">               
               <view 
               id="local.stalin.gui.views.NodeView" 
               relationship="stack"               
               relative="local.stalin.gui.StalinDefaultPerspective.FolderRight"
               ratio="0.8f"/>
          </perspectiveExtension>
</extension>
   
   <extension
         point="local.stalin.ep.LoggingWindow">
      <impl class="local.stalin.gui.logging.GuiLoggingWindow"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="GuiRCP.toolbar1">
            <control
                  class="local.stalin.gui.contrib.PreludeContribution"
                  id="local.stalin.gui.contrib.Prelude">
            </control>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
