<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Action Set"
            visible="true"
            id="local.stalin.plugins.output.prefusevisualization.actionSet">
         <menu
               label="Prefuse Visualization"
               id="prefusevisualization">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>

         
         <action
               class="local.stalin.plugins.output.prefusevisualization.export.SaveDisplayAction"
               id="local.stalin.plugins.output.prefusevisualization.export.SaveDisplayAction"
               label="Save Display"
               menubarPath="prefusevisualization/sampleGroup"/>
         
      </actionSet>
   </extension>
   <extension
         point="local.stalin.ep.output">
      <impl
            class="local.stalin.plugins.output.prefusevisualization.PrefuseVisualization">
      </impl>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="local.stalin.plugins.output.prefusevisualization.editor.PrefuseEditor"
            icon="icons/GraphEditor.png"
            id="local.stalin.plugins.output.prefusevisualization.editor.PrefuseEditor"
            name="p r e f u s e">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="local.stalin.plugins.output.prefusevisualization.preferences.PreferencePage"
            id="prefuse.page1"
            name="p r e f u s e"/>
   </extension>

</plugin>
