<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="local.stalin.ep.output">
      <impl
            class="local.stalin.plugins.output.jungvisualization.JungVisualization">
      </impl>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="false"
            id="local.stalin.plugins.output.jungvisualization.editor.JungEditor"
            name="Jung Graph Editor"
            class="local.stalin.plugins.output.jungvisualization.editor.JungEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="JungVisualization.actionSet1"
            label="Action Set"
            visible="true">
         <menu
               id="jungvisualization"
               label="Jung Visualization">
         </menu>
         <action
               class="local.stalin.plugins.output.jungvisualization.actions.MenuActions"
               id="local.stalin.plugins.output.jungvisualization.actions.ExportAsSVG"
               label="Export as SVG"
               menubarPath="jungvisualization/sampleGroup"
               style="push">
         </action>
         <action
               class="local.stalin.plugins.output.jungvisualization.actions.MenuActions"
               id="local.stalin.plugins.output.jungvisualization.actions.TransformingMode"
               label="Transforming Mode"
               menubarPath="jungvisualization/ChangeModeGroup"
               state="false"
               style="radio">
         </action>
         <action
               class="local.stalin.plugins.output.jungvisualization.actions.MenuActions"
               id="local.stalin.plugins.output.jungvisualization.actions.PickingMode"
               label="Picking Mode"
               menubarPath="jungvisualization/ChangeModeGroup"
               state="true"
               style="radio">
         </action>
         <action
               class="local.stalin.plugins.output.jungvisualization.actions.MenuActions"
               id="local.stalin.plugins.output.jungvisualization.actions.KeyHelp"
               label="Key Help"
               menubarPath="jungvisualization/helpGroup"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="local.stalin.plugins.output.jungvisualization.preferences.PreferencePage"
            id="local.stalin.plugins.output.jungvisualization.preferences.PreferencePage"
            name="Jung Visualization">
      </page>
   </extension>
	<extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="local.stalin.plugins.output.jungvisualization.preferences.PreferenceInitializer">
      </initializer>
   </extension>


</plugin>
