log4j.rootLogger=WARN, A1
log4j.logger.Compiler = WARN, R2
log4j.logger.TestForm2MCFormCompiler = WARN, R2
log4j.logger.MCTraceXML2JConverter=WARN, R2
log4j.logger.PEAXML2JConverter=WARN, R2
log4j.logger.PEAJ2XMLConverter=WARN, R2
log4j.logger.FormulaJ2XMLConverter=WARN, R2
log4j.logger.FormulaXML2JConverter=WARN, R2
log4j.logger.Formula2NFCompiler=WARN, R2
log4j.logger.Formula2DNFCompiler=INFO, R2
log4j.logger.SimplifyPEAs=INFO, R2


log4j.appender.A1=org.apache.log4j.ConsoleAppender
log4j.appender.A2=org.apache.log4j.ConsoleAppender
log4j.appender.R=org.apache.log4j.RollingFileAppender
log4j.appender.R.File=Compiler.log
log4j.appender.R.layout=org.apache.log4j.PatternLayout

log4j.appender.R.MaxFileSize=100KB

log4j.appender.R2=org.apache.log4j.RollingFileAppender
log4j.appender.R2.File=Compiler2.log
log4j.appender.R2.layout=org.apache.log4j.PatternLayout

log4j.appender.R2.MaxFileSize=100KB

log4j.appender.A1.layout=org.apache.log4j.PatternLayout
log4j.appender.A2.layout=org.apache.log4j.PatternLayout
log4j.appender.A1.layout.ConversionPattern=%-4r [%t] %-5p %c %x - %m%n