<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.uni_freiburg.informatik.ultimate.ep.analysis">
      <impl class="de.uni_freiburg.informatik.ultimate.boogie.cfg2smt.CFG2SMT"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.uni_freiburg.informatik.ultimate.core.coreplugin.preferences.ToolsPreferencePage"
            class="de.uni_freiburg.informatik.ultimate.boogie.cfg2smt.preferences.PreferencePage"
            id="de.uni_freiburg.informatik.ultimate.boogie.cfg2smt.preferences.PreferencePage"
            name="CFG2SMT">
      </page>
   </extension>
</plugin>
