<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="de.uni_freiburg.informatik.ultimate.ep.analysis" name="Analysis Extension Point" schema="schema/de.uni_freiburg.informatik.ultimate.ep.analysis.exsd"/>
   <extension-point id="de.uni_freiburg.informatik.ultimate.ep.generator" name="Generator Extension Point" schema="schema/de.uni_freiburg.informatik.ultimate.ep.generator.exsd"/>
   <extension-point id="de.uni_freiburg.informatik.ultimate.ep.output" name="Output Extension Point" schema="schema/de.uni_freiburg.informatik.ultimate.ep.output.exsd"/>
   <extension-point id="de.uni_freiburg.informatik.ultimate.ep.controller" name="Controller Extension Point" schema="schema/de.uni_freiburg.informatik.ultimate.ep.controller.exsd"/>
   <extension-point id="de.uni_freiburg.informatik.ultimate.ep.source" name="Source Extension Point" schema="schema/de.uni_freiburg.informatik.ultimate.ep.source.exsd"/>
   <extension-point id="de.uni_freiburg.informatik.ultimate.ep.service" name="Service Extension Point" schema="schema/de.uni_freiburg.informatik.ultimate.ep.service.exsd"/>

   <extension id="CoreOSGi" point="org.eclipse.core.runtime.applications">
      <application cardinality="*" thread="any" visible="true">
         <run class="de.uni_freiburg.informatik.ultimate.core.coreplugin.UltimateCore"/>  
      </application>
   </extension>
   
   <extension id="CoreRCP" point="org.eclipse.core.runtime.applications">
      <application cardinality="*" thread="main" visible="true">
         <run class="de.uni_freiburg.informatik.ultimate.core.coreplugin.UltimateCore"/>   
      </application>
   </extension>
   
   <extension point="org.eclipse.core.runtime.products" id="Debug">
      <product application="UltimateCore.CoreRCP" name="Ultimate-Debug">
         <property name="appName" value="Ultimate-Debug" />
         <property name="aboutImage" value="icons/about.gif" />
         <property name="aboutText"
               value="Ultimate Ultimate is a tool for model checking and static program analysis. It provides multiple toolchains which check properties or transform input files." />
        </product>
   </extension>
   
    <extension point="org.eclipse.core.runtime.products" id="CLI">
      <product application="UltimateCore.CoreRCP" name="Ultimate-CommandLine">
         <property name="appName" value="Ultimate-CommandLine" />
         <property name="aboutText"
               value="Ultimate Ultimate is a tool for model checking and static program analysis. It provides multiple toolchains which check properties or transform input files." />
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
      </product>
   </extension>
  
  <!--The core should load its preference defaults the RCP way because it already depends on RCP and we can ignore the conflict between logging depending on settings and vice versa-->
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="de.uni_freiburg.informatik.ultimate.core.coreplugin.preferences.CorePreferenceInitializer"/>
   </extension>
  
  
</plugin>

