---
js: [ "redirect_legacy_urls.js" ]
---
<div class="row" id="description">
  <div class="col-12">
    <p><span style="font-variant:small-caps">Ultimate</span> is a program analysis framework.
      <span style="font-variant:small-caps">Ultimate</span> consists of several plugins that perform steps of an
      program analysis, e.g., parsing source code, transforming programs from one representation to another,
      or analyze programs. Toolchains of these plugins can perform complex tasks, e.g., verify that a C
      program fulfills a given specification.
    </p>
  </div>
</div>


<div class="row" id="tools">
  <h2>Tools</h2>
  <div class="tools-grid mb-4">
    {% for tool in site.tools %}
      <div class="card border-secondary shadow-sm tool-card border-start">
        <div class="card-header">
          <a class="link-primary fw-semibold" style="font-size:1.1rem;"  href="{{ tool.url | relative_url }}">{{tool.title}}</a>
          <span class="float-end">
            {% for lang in tool.languages %}
              <span class="badge badge-{{ lang.language | downcase | replace: '_', '-' }}">
                {{ lang.display }}
              </span>
            {% endfor %}
          </span>
        </div>
        <div class="card-body text-body">
          <p class="card-text text-justify">{{tool.description}}</p>
        </div>
        <div class="card-footer">
          <a role="button" href="{{ tool.url | relative_url }}" class="btn btn-dark text-white me-2">Read more</a>
          <a role="button" href="{{ 'webinterface/?tool=' | append: tool.tool_id | relative_url }}" class="btn btn-dark text-white">Try online</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


<div class="row" id="awards">
  <h2><a href="{{ 'awards/' | relative_url }}">Awards</a></h2>
  <p class="col-12 mb-4">
    <span style="font-variant:small-caps">Ultimate</span> tools have won many prizes at competitions
    like the <a href="https://sv-comp.sosy-lab.org/">International Competition on Software Verification (SV-COMP)</a>
    or the <a href="https://termination-portal.org/wiki/Termination_Portal">Termination Competition</a>.
    <span style="font-variant:small-caps">Ultimate</span> Automizer has won the <em>Overall</em> ranking of SV-COMP four times (2016, 2017, 2023 and 2024).
    Find more information <a href="{{ 'awards/' | relative_url }}">here</a>.
  </p>
</div>


<div class="row" id="development">
  <h2>Development</h2>
  <p class="col-12 mb-4">
    The <span style="font-variant:small-caps">Ultimate</span> <a href="https://github.com/ultimate-pa/ultimate">source code and some documentation</a> is available at GitHub.
    <br />
    The core of <span style="font-variant:small-caps">Ultimate</span> and many plugins are subject to the LGPLv3 license with a linking exception to Eclipse RCP and Eclipse CDT.
  </p>
</div>


<div class="row" id="developers">
  <h2><a href="{{ 'developers/' | relative_url }}">Developers</a></h2>
  <div class="col-12 mb-4">

    <p class="mb-2">
      The current main developers of <span style="font-variant:small-caps">Ultimate</span> are:
    </p>

    <ul class="list-unstyled mb-3">
      <li><a href="https://swt.informatik.uni-freiburg.de/staff/dietsch">Daniel Dietsch</a></li>
      <li><a href="https://swt.informatik.uni-freiburg.de/staff/klumpp">Dominik Klumpp</a></li>
      <li><a href="https://swt.informatik.uni-freiburg.de/staff/schuessele">Frank Schüssele</a></li>
      <li><a href="https://swt.informatik.uni-freiburg.de/staff/heizmann">Matthias Heizmann</a></li>
    </ul>

    <p>
      Most <span style="font-variant:small-caps">Ultimate</span> developers are students and researchers in the
      <a href="https://swt.informatik.uni-freiburg.de/">Software Engineering group of Andreas Podelski</a>
      at the <a href="https://www.uni-freiburg.de/">University of Freiburg</a>.
      Current and former developers can be found <a href="{{ 'developers/' | relative_url }}">here</a>.
    </p>
  </div>
</div>
