<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Action Set"
            visible="true"
            id="de.uni_freiburg.informatik.ultimate.plugins.output.prefusevisualization.actionSet">
         <menu
               label="Prefuse Visualization"
               id="prefusevisualization">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>

         
         <action
               class="de.uni_freiburg.informatik.ultimate.plugins.output.prefusevisualization.export.SaveDisplayAction"
               id="de.uni_freiburg.informatik.ultimate.plugins.output.prefusevisualization.export.SaveDisplayAction"
               label="Save Display"
               menubarPath="prefusevisualization/sampleGroup"/>
         
      </actionSet>
   </extension>
   <extension
         point="de.uni_freiburg.informatik.ultimate.ep.output">
      <impl
            class="de.uni_freiburg.informatik.ultimate.plugins.output.prefusevisualization.PrefuseVisualization">
      </impl>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uni_freiburg.informatik.ultimate.plugins.output.prefusevisualization.editor.PrefuseEditor"
            icon="icons/GraphEditor.png"
            id="de.uni_freiburg.informatik.ultimate.plugins.output.prefusevisualization.editor.PrefuseEditor"
            name="Prefuse Visualization">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.uni_freiburg.informatik.ultimate.core.coreplugin.preferences.OutputPreferencePage"
            class="de.uni_freiburg.informatik.ultimate.plugins.output.prefusevisualization.preferences.PreferencePage"
            id="de.uni_freiburg.informatik.ultimate.plugins.output.prefusevisualization.preferences.PreferencePage"
            name="Prefuse Visualization"/>
   </extension>

</plugin>
