#content {
  overflow: auto;
}

.form-check-label {
  white-space: nowrap;
}

#messages {
  overflow: auto;
  flex-flow: column;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: 30%;
  z-index: 4;
  display: none;
}

.oi{
  top: 0;
}

.mr-1 {
  margin-right: .5rem !important;
}

.number{
  width: 4em;
}

.messages-actions {
  cursor: pointer;
}

.top-shaddow{
  -webkit-box-shadow: 0 -2px 9px 0 rgba(0,0,0,0.75);
  -moz-box-shadow:    0 -2px 9px 0 rgba(0,0,0,0.75);
  box-shadow:         0 -2px 9px 0 rgba(0,0,0,0.75);
}
