<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uni_freiburg.informatik.ultimate.ep.service">
      <impl
            class="de.uni_freiburg.informatik.ultimate.interactive.traceabstraction.ConverterFactory">
      </impl>
   </extension>

</plugin>
