<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Minimal Target Platform" sequenceNumber="16">
<locations>
<location path="${eclipse_home}" type="Profile"/>
</locations>
<includeBundles>
<plugin id="org.eclipse.equinox.p2.metadata.repository"/>
<plugin id="org.eclipse.core.filesystem"/>
<plugin id="org.eclipse.search"/>
<plugin id="org.eclipse.ui.workbench.source"/>
<plugin id="org.eclipse.core.jobs.source"/>
<plugin id="org.eclipse.equinox.preferences.source"/>
<plugin id="org.eclipse.core.databinding.observable"/>
<plugin id="org.eclipse.help.source"/>
<plugin id="org.eclipse.ui.workbench"/>
<plugin id="org.eclipse.equinox.p2.metadata.source"/>
<plugin id="org.eclipse.equinox.p2.core"/>
<plugin id="org.eclipse.cdt.codan.core.source"/>
<plugin id="org.eclipse.core.contenttype.source"/>
<plugin id="org.eclipse.ui.views"/>
<plugin id="org.eclipse.ui.views.properties.tabbed.source"/>
<plugin id="org.eclipse.equinox.security.win32.x86.source"/>
<plugin id="org.eclipse.equinox.p2.repository.source"/>
<plugin id="org.eclipse.ui.editors.source"/>
<plugin id="org.eclipse.ui.navigator.source"/>
<plugin id="org.eclipse.core.resources.source"/>
<plugin id="org.eclipse.compare.core"/>
<plugin id="org.eclipse.equinox.p2.repository"/>
<plugin id="org.eclipse.cdt.codan.ui"/>
<plugin id="org.eclipse.ui.forms"/>
<plugin id="org.eclipse.ui.navigator.resources.source"/>
<plugin id="org.eclipse.ui.console"/>
<plugin id="org.eclipse.osgi.services.source"/>
<plugin id="org.eclipse.ltk.core.refactoring.source"/>
<plugin id="org.eclipse.equinox.security.win32.x86"/>
<plugin id="org.eclipse.ant.core"/>
<plugin id="org.eclipse.ui.win32"/>
<plugin id="org.eclipse.team.core.source"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry.source"/>
<plugin id="org.eclipse.equinox.preferences"/>
<plugin id="org.eclipse.core.filebuffers.source"/>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry"/>
<plugin id="org.eclipse.ui.views.properties.tabbed"/>
<plugin id="org.eclipse.core.expressions"/>
<plugin id="javax.servlet"/>
<plugin id="org.eclipse.equinox.app.source"/>
<plugin id="org.eclipse.core.expressions.source"/>
<plugin id="org.eclipse.core.resources.win32.x86"/>
<plugin id="org.eclipse.equinox.p2.metadata"/>
<plugin id="org.eclipse.osgi.source"/>
<plugin id="org.eclipse.ui.win32.source"/>
<plugin id="org.eclipse.ui.ide.source"/>
<plugin id="org.eclipse.cdt.codan.checkers.source"/>
<plugin id="org.eclipse.core.databinding.source"/>
<plugin id="org.eclipse.help"/>
<plugin id="org.eclipse.cdt.core.win32.x86"/>
<plugin id="org.eclipse.compare.source"/>
<plugin id="org.eclipse.ui"/>
<plugin id="org.eclipse.core.variables.source"/>
<plugin id="org.eclipse.ui.navigator"/>
<plugin id="org.eclipse.ui.forms.source"/>
<plugin id="org.eclipse.ltk.ui.refactoring.source"/>
<plugin id="org.eclipse.core.filebuffers"/>
<plugin id="org.eclipse.jface.databinding"/>
<plugin id="org.eclipse.core.commands"/>
<plugin id="org.eclipse.swt"/>
<plugin id="org.eclipse.equinox.security.source"/>
<plugin id="org.eclipse.team.ui"/>
<plugin id="org.eclipse.cdt.codan.core.cxx.source"/>
<plugin id="org.eclipse.swt.win32.win32.x86"/>
<plugin id="org.eclipse.ltk.core.refactoring"/>
<plugin id="org.eclipse.ui.workbench.texteditor"/>
<plugin id="org.eclipse.jface.databinding.source"/>
<plugin id="org.eclipse.core.contenttype"/>
<plugin id="org.eclipse.ui.views.source"/>
<plugin id="org.eclipse.cdt.ui"/>
<plugin id="org.eclipse.equinox.p2.core.source"/>
<plugin id="org.eclipse.ui.navigator.resources"/>
<plugin id="org.eclipse.equinox.p2.engine"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth"/>
<plugin id="org.eclipse.swt.win32.win32.x86.source"/>
<plugin id="org.eclipse.cdt.codan.core.cxx"/>
<plugin id="org.eclipse.equinox.common.source"/>
<plugin id="org.eclipse.cdt.core.win32"/>
<plugin id="org.eclipse.equinox.p2.engine.source"/>
<plugin id="org.eclipse.cdt.core.source"/>
<plugin id="org.eclipse.ui.console.source"/>
<plugin id="org.eclipse.search.source"/>
<plugin id="org.eclipse.team.core"/>
<plugin id="org.eclipse.equinox.registry.source"/>
<plugin id="org.eclipse.ui.workbench.texteditor.source"/>
<plugin id="com.ibm.icu"/>
<plugin id="org.eclipse.core.databinding.property.source"/>
<plugin id="org.eclipse.cdt.codan.ui.source"/>
<plugin id="org.eclipse.jface.source"/>
<plugin id="org.eclipse.jface.text"/>
<plugin id="org.eclipse.core.runtime.source"/>
<plugin id="com.ibm.icu.source"/>
<plugin id="org.eclipse.core.resources"/>
<plugin id="org.eclipse.cdt.codan.core"/>
<plugin id="org.eclipse.jface.text.source"/>
<plugin id="org.eclipse.ui.ide"/>
<plugin id="org.eclipse.text.source"/>
<plugin id="org.eclipse.core.variables"/>
<plugin id="org.eclipse.team.ui.source"/>
<plugin id="org.eclipse.core.runtime"/>
<plugin id="org.eclipse.compare.core.source"/>
<plugin id="org.eclipse.core.commands.source"/>
<plugin id="org.eclipse.compare"/>
<plugin id="org.eclipse.jface"/>
<plugin id="org.eclipse.cdt.codan.checkers"/>
<plugin id="org.eclipse.equinox.app"/>
<plugin id="org.eclipse.core.databinding.property"/>
<plugin id="org.eclipse.cdt.core"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.eclipse.core.jobs"/>
<plugin id="org.eclipse.core.databinding"/>
<plugin id="org.eclipse.ant.core.source"/>
<plugin id="org.eclipse.cdt.ui.source"/>
<plugin id="org.eclipse.equinox.security"/>
<plugin id="org.eclipse.ui.editors"/>
<plugin id="org.eclipse.ltk.ui.refactoring"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth.source"/>
<plugin id="org.eclipse.cdt.core.win32.source"/>
<plugin id="org.eclipse.core.databinding.observable.source"/>
<plugin id="org.eclipse.core.filesystem.source"/>
<plugin id="org.eclipse.core.filesystem.win32.x86"/>
<plugin id="org.eclipse.ui.source"/>
<plugin id="org.eclipse.equinox.registry"/>
<plugin id="org.eclipse.text"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository.source"/>
</includeBundles>
</target>
