<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Ultimate E4.17 Win32">
	<environment>
		<os>win32</os>
	</environment>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21"/>
	<launcherArgs>
		<vmArgs>-ea -Xms4M -Xmx4G</vmArgs>
	</launcherArgs>
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://nexus.sopranium.de/repository/eclipse-4.17"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
			<unit id="eclipse-junit-tests" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://nexus.sopranium.de/repository/cdt-10.0"/>
			<unit id="org.eclipse.cdt.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.cdt.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://nexus.sopranium.de/repository/orbit-R20200831200620"/>
			<unit id="org.jdom" version="0.0.0"/>
			<unit id="org.apache.log4j" version="0.0.0"/>
			<unit id="org.apache.logging.log4j" version="0.0.0"/>
			<unit id="org.apache.xerces" version="0.0.0"/>
			<unit id="org.apache.batik.anim" version="1.9.1.v20190730-1743"/>
			<unit id="org.apache.batik.dom" version="1.9.1.v20190730-1743"/>
			<unit id="org.apache.batik.dom.svg" version="1.9.1.v20190730-1743"/>
			<unit id="org.apache.batik.svggen" version="1.9.1.v20190730-1743"/>
			<unit id="org.apache.batik.parser" version="1.9.1.v20190730-1743"/>
			<unit id="org.apache.batik.util.gui" version="1.9.1.v20190730-1743"/>
			<unit id="org.apache.batik.xml" version="1.9.1.v20190730-1743"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://struebli.informatik.uni-freiburg.de/p2-repository-ultimate-dependencies/"/>
			<unit id="org.yaml.snakeyaml" version="2.2.0"/>
			<unit id="com.lmax.disruptor" version="3.3.5"/>
			<unit id="com.lmax.disruptor.source" version="3.3.5"/>
		</location>
	</locations>
	<includeBundles>
		<plugin id="com.google.gson.source"/>
		<plugin id="com.google.gson"/>
		<plugin id="com.ibm.icu.source" version="67.1.0.v20200706-1749"/>
		<plugin id="com.ibm.icu" version="67.1.0.v20200706-1749"/>
		<plugin id="com.sun.xml.bind.source"/>
		<plugin id="com.sun.xml.bind"/>
		<plugin id="javax.activation.source"/>
		<plugin id="javax.activation"/>
		<plugin id="javax.annotation.source" version="1.3.5.v20200504-1837"/>
		<plugin id="javax.annotation" version="1.3.5.v20200504-1837"/>
		<plugin id="javax.inject.source" version="1.0.0.v20091030"/>
		<plugin id="javax.inject" version="1.0.0.v20091030"/>
		<plugin id="javax.xml.bind"/>
		<plugin id="javax.xml.stream" version="1.0.1.v201004272200"/>
		<plugin id="javax.xml" version="1.3.4.v201005080400"/>
		<plugin id="org.apache.batik.anim"/>
		<plugin id="org.apache.batik.anim.source"/>
		<plugin id="org.apache.batik.constants.source" version="1.13.0.v20200622-2037"/>
		<plugin id="org.apache.batik.constants" version="1.9.1.v20180227-1645"/>
		<plugin id="org.apache.batik.css.source" version="1.9.1.v20181015-1528"/>
		<plugin id="org.apache.batik.css" version="1.9.1.v20181015-1528"/>
		<plugin id="org.apache.batik.dom.source"/>
		<plugin id="org.apache.batik.dom.svg.source"/>
		<plugin id="org.apache.batik.dom.svg"/>
		<plugin id="org.apache.batik.dom"/>
		<plugin id="org.apache.batik.ext.awt.source"/>
		<plugin id="org.apache.batik.ext.awt"/>
		<plugin id="org.apache.batik.i18n.source" version="1.13.0.v20200622-2037"/>
		<plugin id="org.apache.batik.i18n" version="1.9.1.v20180227-1645"/>
		<plugin id="org.apache.batik.parser.source"/>
		<plugin id="org.apache.batik.parser"/>
		<plugin id="org.apache.batik.svggen.source"/>
		<plugin id="org.apache.batik.svggen"/>
		<plugin id="org.apache.batik.util.gui.source"/>
		<plugin id="org.apache.batik.util.gui"/>
		<plugin id="org.apache.batik.util.source" version="1.9.1.v20180703-1553"/>
		<plugin id="org.apache.batik.util" version="1.9.1.v20180703-1553"/>
		<plugin id="org.apache.batik.xml.source"/>
		<plugin id="org.apache.batik.xml"/>
		<plugin id="org.apache.commons.io" version="2.6.0.v20190123-2029"/>
		<plugin id="org.apache.commons.io.source" version="2.6.0.v20190123-2029"/>
		<plugin id="org.apache.commons.jxpath" version="1.3.0.v200911051830"/>
		<plugin id="org.apache.commons.jxpath.source" version="1.3.0.v200911051830"/>
		<plugin id="org.apache.commons.logging" version="1.2.0.v20180409-1502"/>
		<plugin id="org.apache.commons.logging.source" version="1.2.0.v20180409-1502"/>
		<plugin id="org.apache.felix.scr" version="2.1.16.v20200110-1820"/>
		<plugin id="org.apache.felix.scr.source" version="2.1.16.v20200110-1820"/>
		<plugin id="org.apache.xalan"/>
		<plugin id="org.apache.xerces"/>
		<plugin id="org.apache.xml.resolver"/>
		<plugin id="org.apache.xml.serializer"/>
		<plugin id="org.apache.xmlgraphics.source" version="2.4.0.v20200622-2037"/>
		<plugin id="org.apache.xmlgraphics" version="2.4.0.v20200622-2037"/>
		<plugin id="org.eclipse.cdt.core.native"/>
		<plugin id="org.eclipse.cdt.core"/>
		<plugin id="org.eclipse.cdt.core.win32.source"/>
		<plugin id="org.eclipse.cdt.core.win32.x86_64"/>
		<plugin id="org.eclipse.cdt.core.win32"/>
		<plugin id="org.eclipse.cdt.core.source"/>
		<plugin id="org.eclipse.cdt.core.native.source"/>
		<plugin id="org.eclipse.core.commands.source" version="3.9.700.v20191217-1850"/>
		<plugin id="org.eclipse.core.commands" version="3.9.700.v20191217-1850"/>
		<plugin id="org.eclipse.core.databinding.observable.source" version="1.10.0.v20200730-0848"/>
		<plugin id="org.eclipse.core.databinding.observable" version="1.10.0.v20200730-0848"/>
		<plugin id="org.eclipse.core.databinding.property.source" version="1.8.100.v20200619-0651"/>
		<plugin id="org.eclipse.core.databinding.property" version="1.8.100.v20200619-0651"/>
		<plugin id="org.eclipse.core.databinding.source" version="1.10.0.v20200815-1752"/>
		<plugin id="org.eclipse.core.databinding" version="1.10.0.v20200815-1752"/>
		<plugin id="org.eclipse.core.contenttype.source" version="3.7.800.v20200724-0804"/>
		<plugin id="org.eclipse.core.contenttype" version="3.7.800.v20200724-0804"/>
		<plugin id="org.eclipse.core.expressions.source" version="3.7.0.v20200720-1126"/>
		<plugin id="org.eclipse.core.expressions" version="3.7.0.v20200720-1126"/>
		<plugin id="org.eclipse.core.filebuffers.source" version="3.6.1000.v20200409-1035"/>
		<plugin id="org.eclipse.core.filebuffers" version="3.6.1000.v20200409-1035"/>
		<plugin id="org.eclipse.core.filesystem.win32.x86_64"/>
		<plugin id="org.eclipse.core.filesystem.source" version="1.7.700.v20200110-1734"/>
		<plugin id="org.eclipse.core.filesystem" version="1.7.700.v20200110-1734"/>
		<plugin id="org.eclipse.core.jobs.source" version="3.10.800.v20200421-0950"/>
		<plugin id="org.eclipse.core.jobs" version="3.10.800.v20200421-0950"/>
		<plugin id="org.eclipse.core.resources.source" version="3.13.800.v20200706-2152"/>
		<plugin id="org.eclipse.core.resources.win32.x86_64"/>
		<plugin id="org.eclipse.core.resources" version="3.13.800.v20200706-2152"/>
		<plugin id="org.eclipse.core.runtime.source" version="3.19.0.v20200724-1004"/>
		<plugin id="org.eclipse.core.runtime" version="3.19.0.v20200724-1004"/>
		<plugin id="org.eclipse.core.variables.source" version="3.4.800.v20200120-1101"/>
		<plugin id="org.eclipse.core.variables" version="3.4.800.v20200120-1101"/>
		<plugin id="org.eclipse.e4.core.commands.source" version="0.12.900.v20200110-1732"/>
		<plugin id="org.eclipse.e4.core.commands" version="0.12.900.v20200110-1732"/>
		<plugin id="org.eclipse.e4.core.contexts.source" version="1.8.400.v20191217-1710"/>
		<plugin id="org.eclipse.e4.core.contexts" version="1.8.400.v20191217-1710"/>
		<plugin id="org.eclipse.e4.core.di.annotations.source" version="1.6.600.v20191216-2352"/>
		<plugin id="org.eclipse.e4.core.di.annotations" version="1.6.600.v20191216-2352"/>
		<plugin id="org.eclipse.e4.core.di.source" version="1.7.600.v20200428-0912"/>
		<plugin id="org.eclipse.e4.core.di" version="1.7.600.v20200428-0912"/>
		<plugin id="org.eclipse.e4.core.di.extensions.source" version="0.16.0.v20200507-0938"/>
		<plugin id="org.eclipse.e4.core.di.extensions" version="0.16.0.v20200507-0938"/>
		<plugin id="org.eclipse.e4.core.di.extensions.supplier.source" version="0.15.700.v20200622-1247"/>
		<plugin id="org.eclipse.e4.core.di.extensions.supplier" version="0.15.700.v20200622-1247"/>
		<plugin id="org.eclipse.e4.core.services.source" version="2.2.400.v20200622-1247"/>
		<plugin id="org.eclipse.e4.core.services" version="2.2.400.v20200622-1247"/>
		<plugin id="org.eclipse.e4.emf.xpath.source" version="0.2.800.v20200609-0849"/>
		<plugin id="org.eclipse.e4.emf.xpath" version="0.2.800.v20200609-0849"/>
		<plugin id="org.eclipse.e4.ui.bindings.source" version="0.12.900.v20200513-0930"/>
		<plugin id="org.eclipse.e4.ui.bindings" version="0.12.900.v20200513-0930"/>
		<plugin id="org.eclipse.e4.ui.css.core.source" version="0.12.1300.v20200615-1701"/>
		<plugin id="org.eclipse.e4.ui.css.core" version="0.12.1300.v20200615-1701"/>
		<plugin id="org.eclipse.e4.ui.css.swt.source" version="0.13.1100.v20200819-0632"/>
		<plugin id="org.eclipse.e4.ui.css.swt.theme.source" version="0.12.700.v20200527-0719"/>
		<plugin id="org.eclipse.e4.ui.css.swt.theme" version="0.12.700.v20200527-0719"/>
		<plugin id="org.eclipse.e4.ui.css.swt" version="0.13.1100.v20200819-0632"/>
		<plugin id="org.eclipse.e4.ui.di.source" version="1.2.800.v20200128-0855"/>
		<plugin id="org.eclipse.e4.ui.di" version="1.2.800.v20200128-0855"/>
		<plugin id="org.eclipse.e4.ui.dialogs.source" version="1.2.0.v20200807-0944"/>
		<plugin id="org.eclipse.e4.ui.dialogs" version="1.2.0.v20200807-0944"/>
		<plugin id="org.eclipse.e4.ui.model.workbench.source" version="2.1.800.v20200828-0938"/>
		<plugin id="org.eclipse.e4.ui.model.workbench" version="2.1.800.v20200828-0938"/>
		<plugin id="org.eclipse.e4.ui.services.source" version="1.3.700.v20190930-1643"/>
		<plugin id="org.eclipse.e4.ui.services" version="1.3.700.v20190930-1643"/>
		<plugin id="org.eclipse.e4.ui.widgets.source" version="1.2.700.v20191222-1048"/>
		<plugin id="org.eclipse.e4.ui.widgets" version="1.2.700.v20191222-1048"/>
		<plugin id="org.eclipse.e4.ui.workbench.addons.swt.source" version="1.3.1100.v20200703-0611"/>
		<plugin id="org.eclipse.e4.ui.workbench.addons.swt" version="1.3.1100.v20200703-0611"/>
		<plugin id="org.eclipse.e4.ui.workbench.renderers.swt.source" version="0.14.1300.v20200829-1411"/>
		<plugin id="org.eclipse.e4.ui.workbench.renderers.swt" version="0.14.1300.v20200829-1411"/>
		<plugin id="org.eclipse.e4.ui.workbench.source" version="1.11.400.v20200828-0938"/>
		<plugin id="org.eclipse.e4.ui.workbench.swt.source" version="0.14.1100.v20200619-0644"/>
		<plugin id="org.eclipse.e4.ui.workbench.swt" version="0.14.1100.v20200619-0644"/>
		<plugin id="org.eclipse.e4.ui.workbench" version="1.11.400.v20200828-0938"/>
		<plugin id="org.eclipse.e4.ui.workbench3.source" version="0.15.400.v20191216-0805"/>
		<plugin id="org.eclipse.e4.ui.workbench3" version="0.15.400.v20191216-0805"/>
		<plugin id="org.eclipse.emf.common.source" version="2.20.0.v20200822-0801"/>
		<plugin id="org.eclipse.emf.common" version="2.20.0.v20200822-0801"/>
		<plugin id="org.eclipse.emf.ecore.change.source" version="2.14.0.v20190528-0725"/>
		<plugin id="org.eclipse.emf.ecore.change" version="2.14.0.v20190528-0725"/>
		<plugin id="org.eclipse.emf.ecore.source" version="2.23.0.v20200630-0516"/>
		<plugin id="org.eclipse.emf.ecore.xmi.source" version="2.16.0.v20190528-0725"/>
		<plugin id="org.eclipse.emf.ecore.xmi" version="2.16.0.v20190528-0725"/>
		<plugin id="org.eclipse.emf.ecore" version="2.23.0.v20200630-0516"/>
		<plugin id="org.eclipse.equinox.app.source" version="1.5.0.v20200717-0620"/>
		<plugin id="org.eclipse.equinox.app" version="1.5.0.v20200717-0620"/>
		<plugin id="org.eclipse.equinox.bidi.source" version="1.3.0.v20200612-1624"/>
		<plugin id="org.eclipse.equinox.bidi" version="1.3.0.v20200612-1624"/>
		<plugin id="org.eclipse.equinox.common.source" version="3.13.0.v20200828-1034"/>
		<plugin id="org.eclipse.equinox.common" version="3.13.0.v20200828-1034"/>
		<plugin id="org.eclipse.equinox.ds.source"/>
		<plugin id="org.eclipse.equinox.ds"/>
		<plugin id="org.eclipse.equinox.event.source" version="1.5.500.v20200616-0800"/>
		<plugin id="org.eclipse.equinox.event" version="1.5.500.v20200616-0800"/>
		<plugin id="org.eclipse.equinox.preferences" version="3.8.0.v20200422-1833"/>
		<plugin id="org.eclipse.equinox.preferences.source" version="3.8.0.v20200422-1833"/>
		<plugin id="org.eclipse.equinox.registry" version="3.9.0.v20200625-1425"/>
		<plugin id="org.eclipse.equinox.registry.source" version="3.9.0.v20200625-1425"/>
		<plugin id="org.eclipse.help" version="3.8.800.v20200525-0755"/>
		<plugin id="org.eclipse.jface.databinding.source" version="1.12.0.v20200717-1533"/>
		<plugin id="org.eclipse.jface.databinding" version="1.12.0.v20200717-1533"/>
		<plugin id="org.eclipse.jface" version="3.21.0.v20200821-1458"/>
		<plugin id="org.eclipse.jface.source" version="3.21.0.v20200821-1458"/>
		<plugin id="org.eclipse.ltk.core.refactoring" version="3.11.100.v20200720-0748"/>
		<plugin id="org.eclipse.ltk.core.refactoring.source" version="3.11.100.v20200720-0748"/>
		<plugin id="org.eclipse.osgi.services" version="3.9.0.v20200511-1725"/>
		<plugin id="org.eclipse.osgi.source" version="3.16.0.v20200828-0759"/>
		<plugin id="org.eclipse.osgi" version="3.16.0.v20200828-0759"/>
		<plugin id="org.eclipse.osgi.util" version="3.5.300.v20190708-1141"/>
		<plugin id="org.eclipse.osgi.util.source" version="3.5.300.v20190708-1141"/>
		<plugin id="org.eclipse.swt" version="3.115.0.v20200831-1002"/>
		<plugin id="org.eclipse.swt.win32.win32.x86_64" version="3.115.0.v20200831-1002"/>
		<plugin id="org.eclipse.swt.win32.win32.x86_64.source" version="3.115.0.v20200831-1002"/>
		<plugin id="org.eclipse.text" version="3.10.300.v20200807-0831"/>
		<plugin id="org.eclipse.text.source" version="3.10.300.v20200807-0831"/>
		<plugin id="org.eclipse.ui" version="3.118.0.v20200807-0902"/>
		<plugin id="org.eclipse.ui.win32"/>
		<plugin id="org.eclipse.ui.win32.source"/>
		<plugin id="org.eclipse.ui.workbench" version="3.120.0.v20200829-1411"/>
		<plugin id="org.eclipse.ui.workbench.source" version="3.120.0.v20200829-1411"/>
		<plugin id="org.eclipse.urischeme" version="1.1.100.v20200729-2048"/>
		<plugin id="org.eclipse.urischeme.source" version="1.1.100.v20200729-2048"/>
		<plugin id="org.jdom"/>
		<plugin id="org.jdom.source"/>
		<plugin id="org.w3c.css.sac" version="1.3.1.v200903091627"/>
		<plugin id="org.w3c.css.sac.source" version="1.3.1.v200903091627"/>
		<plugin id="org.w3c.dom.events" version="3.0.0.draft20060413_v201105210656"/>
		<plugin id="org.w3c.dom.events.source" version="3.0.0.draft20060413_v201105210656"/>
		<plugin id="org.w3c.dom.smil" version="1.0.1.v200903091627"/>
		<plugin id="org.w3c.dom.smil.source" version="1.0.1.v200903091627"/>
		<plugin id="org.w3c.dom.svg" version="1.1.0.v201011041433"/>
		<plugin id="org.w3c.dom.svg.source" version="1.1.0.v201011041433"/>
		<plugin id="org.apache.log4j"/>
		<plugin id="org.apache.log4j.source"/>
		<plugin id="org.apache.logging.log4j"/>
		<plugin id="org.apache.logging.log4j.source"/>
		<plugin id="org.junit"/>
		<plugin id="org.junit.source"/>
		<plugin id="org.eclipse.cdt.codan.core"/>
		<plugin id="org.eclipse.cdt.codan.core.source"/>
		<plugin id="org.eclipse.cdt.codan.core.cxx"/>
		<plugin id="org.eclipse.cdt.codan.core.cxx.source"/>
		<plugin id="org.eclipse.cdt.codan.ui"/>
		<plugin id="org.eclipse.cdt.codan.ui.source"/>
		<plugin id="org.hamcrest.core"/>
		<plugin id="org.hamcrest.core.source"/>
		<plugin id="org.eclipse.ui.ide" version="3.17.200.v20200808-0622"/>
		<plugin id="org.eclipse.ui.ide.source" version="3.17.200.v20200808-0622"/>
		<plugin id="org.eclipse.ui.console" version="3.9.300.v20200828-0817"/>
		<plugin id="org.eclipse.ui.console.source" version="3.9.300.v20200828-0817"/>
		<plugin id="org.eclipse.ui.navigator" version="3.9.400.v20200723-2304"/>
		<plugin id="org.eclipse.ui.navigator.source" version="3.9.400.v20200723-2304"/>
		<plugin id="org.eclipse.ui.editors" version="3.13.300.v20200812-2334"/>
		<plugin id="org.eclipse.ui.editors.source" version="3.13.300.v20200812-2334"/>
		<plugin id="org.eclipse.jface.text" version="3.16.400.v20200807-0831"/>
		<plugin id="org.eclipse.jface.text.source" version="3.16.400.v20200807-0831"/>
		<plugin id="org.eclipse.ui.source" version="3.118.0.v20200807-0902"/>
		<plugin id="org.eclipse.ui.workbench.texteditor" version="3.15.0.v20200812-2334"/>
		<plugin id="org.eclipse.ui.workbench.texteditor.source" version="3.15.0.v20200812-2334"/>
		<plugin id="javax.servlet"/>
		<plugin id="javax.servlet.source"/>
		<plugin id="org.eclipse.equinox.http.registry"/>
		<plugin id="org.eclipse.equinox.http.registry.source"/>
		<plugin id="com.sun.jna" version="4.5.1.v20190425-1842"/>
		<plugin id="com.sun.jna.source" version="4.5.1.v20190425-1842"/>
		<plugin id="com.sun.jna.platform" version="4.5.1.v20190425-1842"/>
		<plugin id="com.sun.jna.platform.source" version="4.5.1.v20190425-1842"/>
		<plugin id="org.eclipse.jface.notifications.source" version="0.2.0.v20200810-0826"/>
		<plugin id="org.eclipse.jface.notifications" version="0.2.0.v20200810-0826"/>
		<plugin id="org.eclipse.compare.core.source" version="3.6.900.v20200412-2017"/>
		<plugin id="org.eclipse.compare.core" version="3.6.900.v20200412-2017"/>
		<plugin id="org.eclipse.equinox.p2.metadata" version="2.5.0.v20200511-1530"/>
		<plugin id="org.eclipse.equinox.p2.metadata.source" version="2.5.0.v20200511-1530"/>
		<plugin id="org.eclipse.e4.ui.ide" version="3.15.100.v20200323-2111"/>
		<plugin id="org.eclipse.e4.ui.ide.source" version="3.15.100.v20200323-2111"/>
		<plugin id="org.eclipse.equinox.p2.engine" version="2.6.700.v20200511-1530"/>
		<plugin id="org.eclipse.equinox.p2.engine.source" version="2.6.700.v20200511-1530"/>
		<plugin id="org.eclipse.equinox.p2.core" version="2.6.300.v20200211-1504"/>
		<plugin id="org.eclipse.equinox.p2.core.source" version="2.6.300.v20200211-1504"/>
		<plugin id="org.eclipse.debug.core" version="3.16.0.v20200828-0817"/>
		<plugin id="org.eclipse.debug.core.source" version="3.16.0.v20200828-0817"/>
		<plugin id="org.eclipse.cdt.ui"/>
		<plugin id="org.eclipse.cdt.ui.source"/>
		<plugin id="org.eclipse.equinox.p2.metadata.repository" version="1.3.400.v20191211-1528"/>
		<plugin id="org.eclipse.equinox.p2.metadata.repository.source" version="1.3.400.v20191211-1528"/>
		<plugin id="org.eclipse.equinox.p2.repository" version="2.4.800.v20200813-0739"/>
		<plugin id="org.eclipse.equinox.p2.repository.source" version="2.4.800.v20200813-0739"/>
		<plugin id="org.eclipse.ltk.ui.refactoring" version="3.11.100.v20200817-1715"/>
		<plugin id="org.eclipse.ltk.ui.refactoring.source" version="3.11.100.v20200817-1715"/>
		<plugin id="org.eclipse.search" version="3.12.0.v20200727-2017"/>
		<plugin id="org.eclipse.search.source" version="3.12.0.v20200727-2017"/>
		<plugin id="org.eclipse.tools.templates.ui"/>
		<plugin id="org.eclipse.tools.templates.ui.source"/>
		<plugin id="org.eclipse.ui.forms" version="3.10.0.v20200727-0948"/>
		<plugin id="org.eclipse.ui.forms.source" version="3.10.0.v20200727-0948"/>
		<plugin id="org.eclipse.ui.navigator.resources" version="3.7.400.v20200722-0751"/>
		<plugin id="org.eclipse.ui.navigator.resources.source" version="3.7.400.v20200722-0751"/>
		<plugin id="org.eclipse.compare" version="3.7.1100.v20200611-0145"/>
		<plugin id="org.eclipse.compare.source" version="3.7.1100.v20200611-0145"/>
		<plugin id="org.eclipse.ui.views" version="3.10.400.v20200611-1719"/>
		<plugin id="org.eclipse.ui.views.source" version="3.10.400.v20200611-1719"/>
		<plugin id="org.tukaani.xz" version="1.8.0.v20180207-1613"/>
		<plugin id="org.tukaani.xz.source" version="1.8.0.v20180207-1613"/>
		<plugin id="org.eclipse.equinox.security" version="1.3.500.v20200114-1637"/>
		<plugin id="org.eclipse.equinox.security.win32.x86_64"/>
		<plugin id="org.eclipse.equinox.security.win32.x86_64.source"/>
		<plugin id="org.eclipse.team.ui" version="3.8.1000.v20200806-0621"/>
		<plugin id="org.eclipse.team.ui.source" version="3.8.1000.v20200806-0621"/>
		<plugin id="org.eclipse.team.core" version="3.8.1100.v20200806-0621"/>
		<plugin id="org.eclipse.team.core.source" version="3.8.1100.v20200806-0621"/>
		<plugin id="org.eclipse.tools.templates.core"/>
		<plugin id="org.eclipse.tools.templates.core.source"/>
		<plugin id="org.eclipse.ui.views.properties.tabbed" version="3.8.1000.v20200609-0849"/>
		<plugin id="org.eclipse.ui.views.properties.tabbed.source" version="3.8.1000.v20200609-0849"/>
		<plugin id="org.eclipse.jdt.junit.runtime"/>
		<plugin id="org.eclipse.pde.junit.runtime"/>
		<plugin id="org.eclipse.jdt.junit4.runtime"/>
		<plugin id="org.eclipse.cdt.managedbuilder.core"/>
		<plugin id="org.eclipse.cdt.make.core"/>
		<plugin id="org.eclipse.jdt.annotation" version="2.2.600.v20200408-1511"/>
		<plugin id="org.eclipse.tools.templates.freemarker"/>
		<plugin id="org.freemarker"/>
		<plugin id="org.eclipse.cdt.managedbuilder.core.source"/>
		<plugin id="org.eclipse.cdt.make.core.source"/>
		<plugin id="org.eclipse.cdt.build.gcc.core"/>
		<plugin id="org.eclipse.cdt.build.gcc.core.source"/>
		<plugin id="org.eclipse.jetty.util"/>
		<plugin id="org.eclipse.jetty.util.source"/>
		<plugin id="org.eclipse.jetty.servlet"/>
		<plugin id="org.eclipse.jetty.servlet.source"/>
		<plugin id="org.eclipse.jetty.server"/>
		<plugin id="org.eclipse.jetty.server.source"/>
		<plugin id="org.eclipse.jetty.security"/>
		<plugin id="org.eclipse.jetty.security.source"/>
		<plugin id="org.eclipse.jetty.io"/>
		<plugin id="org.eclipse.jetty.io.source"/>
		<plugin id="org.eclipse.jetty.http"/>
		<plugin id="org.eclipse.jetty.http.source"/>
		<plugin id="javax.xml.bind.source"/>
		<plugin id="org.apache.batik.constants.source" version="1.9.1.v20180227-1645"/>
		<plugin id="org.apache.batik.css.source" version="1.13.0.v20200622-2037"/>
		<plugin id="org.apache.batik.i18n.source" version="1.9.1.v20180227-1645"/>
		<plugin id="org.apache.batik.util.source" version="1.13.0.v20200622-2037"/>
		<plugin id="org.eclipse.equinox.security.source" version="1.3.500.v20200114-1637"/>
		<plugin id="org.eclipse.help.source" version="3.8.800.v20200525-0755"/>
		<plugin id="org.eclipse.osgi.services.source" version="3.9.0.v20200511-1725"/>
		<plugin id="org.yaml.snakeyaml" version="2.2.0"/>
		<plugin id="com.lmax.disruptor"/>
		<plugin id="com.lmax.disruptor.source"/>
	</includeBundles>
</target>
