<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<target name="Ultimate E4.39">
    <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21"/>
    <launcherArgs>
        <vmArgs>-ea -Xms4M -Xmx4G</vmArgs>
    </launcherArgs>
    <locations>
        <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
            <repository id="eclipse-releases" location="https://download.eclipse.org/releases/2026-03"/>
            <unit id="org.eclipse.cdt.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.equinox.server.jetty.feature.group" version="0.0.0"/>
        </location>
        <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
            <repository id="orbit-aggregation" location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/2026-03"/>
            <unit id="org.eclipse.orbit.maven.hamcrest.core.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.orbit.maven.org.apache.batik.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.orbit.maven.org.jdom.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.orbit.maven.osgi.all.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.orbit.maven.junit.feature.group" version="0.0.0"/>
        </location>
        <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
            <dependencies>
                <dependency>
                    <groupId>io.github.uuverifiers</groupId>
                    <artifactId>eldarica_2.12</artifactId>
                    <version>2.1</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>io.github.uuverifiers</groupId>
                    <artifactId>princess_2.12</artifactId>
                    <version>2024-11-08</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>net.sf.trove4j</groupId>
                    <artifactId>trove4j</artifactId>
                    <version>3.0.3</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.apache.commons</groupId>
                    <artifactId>commons-lang3</artifactId>
                    <version>3.17.0</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.ops4j.pax.logging</groupId>
                    <artifactId>pax-logging-api</artifactId>
                    <version>2.2.7</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.ops4j.pax.logging</groupId>
                    <artifactId>pax-logging-log4j2</artifactId>
                    <version>2.2.7</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.scala-lang</groupId>
                    <artifactId>scala-library</artifactId>
                    <version>2.12.20</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.yaml</groupId>
                    <artifactId>snakeyaml</artifactId>
                    <version>2.3</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>xerces</groupId>
                    <artifactId>xercesImpl</artifactId>
                    <version>2.12.2</version>
                    <type>jar</type>
                </dependency>
            </dependencies>
        </location>
    </locations>
</target>
