<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<target name="Ultimate E4.32 MacOS">
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21"/>
	<launcherArgs>
		<vmArgs>-ea -Xms2M -Xmx4G -Xss1M -Dequinox.resolver.revision.batch.size=1</vmArgs>
	</launcherArgs>
	<environment>
		<os>macosx</os>
		<ws>cocoa</ws>
		<arch>x86_64</arch>
	</environment>
	<locations>
		<location type="Target" uri="file:${project_loc:/BA_SiteRepository}/Ultimate_E4.32_Java21.target"/>
	</locations>
	<includeBundles>
		<plugin id="bcpg" version="1.78.1"/>
		<plugin id="bcpkix"/>
		<plugin id="bcprov" version="1.78.1"/>
		<plugin id="bcutil" version="1.78.1"/>
		<plugin id="com.google.gson" version="2.11.0"/>
		<plugin id="com.google.guava"/>
		<plugin id="com.google.guava.failureaccess"/>
		<plugin id="com.ibm.icu" version="75.1"/>
		<plugin id="com.sun.jna.platform" version="5.14.0"/>
		<plugin id="com.sun.jna" version="5.14.0.v20231211-1200"/>
		<plugin id="com.sun.xml.bind.jaxb-impl" version="4.0.5"/>
		<plugin id="com.sun.xml.bind.jaxb-osgi" version="2.3.9"/>
		<plugin id="com.sun.xml.bind.jaxb-osgi" version="4.0.5"/>
		<plugin id="com.sun.xml.bind" version="2.3.3.v20221203-1659"/>
		<plugin id="jakarta.activation-api" version="1.2.2"/>
		<plugin id="jakarta.activation-api" version="2.1.3"/>
		<plugin id="jakarta.annotation-api" version="2.1.1"/>
		<plugin id="jakarta.inject.jakarta.inject-api" version="2.0.1"/>
		<plugin id="jakarta.xml.bind-api" version="2.3.3"/>
		<plugin id="jakarta.xml.bind-api" version="4.0.2"/>
		<plugin id="javax.el-api" version="3.0.3"/>
		<plugin id="javax.servlet-api" version="3.1.0"/>
		<plugin id="javax.servlet.jsp-api" version="2.3.3"/>
		<plugin id="org.apache.batik.anim"/>
		<plugin id="org.apache.batik.awt.util"/>
		<plugin id="org.apache.batik.constants" version="1.17.0.v20231215-1130"/>
		<plugin id="org.apache.batik.css" version="1.17.0.v20231215-1130"/>
		<plugin id="org.apache.batik.dom"/>
		<plugin id="org.apache.batik.dom.svg"/>
		<plugin id="org.apache.batik.ext"/>
		<plugin id="org.apache.batik.i18n" version="1.17.0.v20231215-1130"/>
		<plugin id="org.apache.batik.parser"/>
		<plugin id="org.apache.batik.svggen"/>
		<plugin id="org.apache.batik.util" version="1.17.0.v20231215-1130"/>
		<plugin id="org.apache.batik.xml"/>
		<plugin id="org.apache.commons.cli"/>
		<plugin id="org.apache.commons.collections" version="3.2.2"/>
		<plugin id="org.apache.commons.commons-beanutils" version="1.9.4"/>
		<plugin id="org.apache.commons.commons-io" version="2.16.1"/>
		<plugin id="org.apache.commons.jxpath" version="1.3"/>
		<plugin id="org.apache.commons.lang3"/>
		<plugin id="org.apache.commons.logging" version="1.2.0"/>
		<plugin id="org.apache.felix.scr" version="2.2.10"/>
		<plugin id="org.apache.log4j" version="1.2.25"/>
		<plugin id="org.apache.logging.log4j.api"/>
		<plugin id="org.apache.xalan"/>
		<plugin id="org.apache.xerces"/>
		<plugin id="org.apache.xmlgraphics" version="2.9.0.v20230916-1600"/>
		<plugin id="org.apache.xml.resolver"/>
		<plugin id="org.apache.xml.serializer"/>
		<plugin id="org.eclipse.cdt.build.gcc.core"/>
		<plugin id="org.eclipse.cdt.codan.core"/>
		<plugin id="org.eclipse.cdt.codan.core.cxx"/>
		<plugin id="org.eclipse.cdt.codan.ui"/>
		<plugin id="org.eclipse.cdt.core"/>
		<plugin id="org.eclipse.cdt.core.native"/>
		<plugin id="org.eclipse.cdt.make.core"/>
		<plugin id="org.eclipse.cdt.managedbuilder.core"/>
		<plugin id="org.eclipse.cdt.ui"/>
		<plugin id="org.eclipse.compare"/>
		<plugin id="org.eclipse.compare.core"/>
		<plugin id="org.eclipse.core.commands" version="3.12.100.v20240424-0956"/>
		<plugin id="org.eclipse.core.contenttype" version="3.9.400.v20240507-1301"/>
		<plugin id="org.eclipse.core.databinding"/>
		<plugin id="org.eclipse.core.databinding.observable"/>
		<plugin id="org.eclipse.core.databinding.property"/>
		<plugin id="org.eclipse.core.expressions" version="3.9.400.v20240413-1529"/>
		<plugin id="org.eclipse.core.filebuffers"/>
		<plugin id="org.eclipse.core.filesystem" version="1.10.400.v20240426-1040"/>
		<plugin id="org.eclipse.core.jobs" version="3.15.300.v20240418-0734"/>
		<plugin id="org.eclipse.core.resources" version="3.20.200.v20240513-1323"/>
		<plugin id="org.eclipse.core.runtime" version="3.31.100.v20240524-2010"/>
		<plugin id="org.eclipse.core.variables"/>
		<plugin id="org.eclipse.debug.core"/>
		<plugin id="org.eclipse.e4.core.commands"/>
		<plugin id="org.eclipse.e4.core.contexts"/>
		<plugin id="org.eclipse.e4.core.di"/>
		<plugin id="org.eclipse.e4.core.di.annotations"/>
		<plugin id="org.eclipse.e4.core.di.extensions"/>
		<plugin id="org.eclipse.e4.core.di.extensions.supplier"/>
		<plugin id="org.eclipse.e4.core.services"/>
		<plugin id="org.eclipse.e4.emf.xpath"/>
		<plugin id="org.eclipse.e4.ui.bindings"/>
		<plugin id="org.eclipse.e4.ui.css.core"/>
		<plugin id="org.eclipse.e4.ui.css.swt"/>
		<plugin id="org.eclipse.e4.ui.css.swt.theme"/>
		<plugin id="org.eclipse.e4.ui.di"/>
		<plugin id="org.eclipse.e4.ui.dialogs"/>
		<plugin id="org.eclipse.e4.ui.ide"/>
		<plugin id="org.eclipse.e4.ui.model.workbench"/>
		<plugin id="org.eclipse.e4.ui.services"/>
		<plugin id="org.eclipse.e4.ui.widgets"/>
		<plugin id="org.eclipse.e4.ui.workbench"/>
		<plugin id="org.eclipse.e4.ui.workbench3"/>
		<plugin id="org.eclipse.e4.ui.workbench.addons.swt"/>
		<plugin id="org.eclipse.e4.ui.workbench.renderers.swt"/>
		<plugin id="org.eclipse.e4.ui.workbench.swt"/>
		<plugin id="org.eclipse.emf.common"/>
		<plugin id="org.eclipse.emf.ecore"/>
		<plugin id="org.eclipse.emf.ecore.change"/>
		<plugin id="org.eclipse.emf.ecore.xmi"/>
		<plugin id="org.eclipse.equinox.app" version="1.7.100.v20240321-1445"/>
		<plugin id="org.eclipse.equinox.bidi"/>
		<plugin id="org.eclipse.equinox.common" version="3.19.100.v20240524-2011"/>
		<plugin id="org.eclipse.equinox.event"/>
		<plugin id="org.eclipse.equinox.http.service.api" version="1.2.2.v20231218-2126"/>
		<plugin id="org.eclipse.equinox.launcher"/>
		<plugin id="org.eclipse.equinox.p2.artifact.repository"/>
		<plugin id="org.eclipse.equinox.p2.core"/>
		<plugin id="org.eclipse.equinox.p2.engine"/>
		<plugin id="org.eclipse.equinox.p2.jarprocessor"/>
		<plugin id="org.eclipse.equinox.p2.metadata"/>
		<plugin id="org.eclipse.equinox.p2.metadata.repository"/>
		<plugin id="org.eclipse.equinox.p2.repository"/>
		<plugin id="org.eclipse.equinox.preferences" version="3.11.100.v20240327-0645"/>
		<plugin id="org.eclipse.equinox.registry" version="3.12.100.v20240524-2011"/>
		<plugin id="org.eclipse.equinox.security"/>
		<plugin id="org.eclipse.help"/>
		<plugin id="org.eclipse.jdt.annotation" version="1.2.100.v20240212-1051"/>
		<plugin id="org.eclipse.jdt.annotation" version="2.3.0.v20240111-2306"/>
		<plugin id="org.eclipse.jetty.ee8.security"/>
		<plugin id="org.eclipse.jetty.ee8.server"/>
		<plugin id="org.eclipse.jetty.ee8.servlet"/>
		<plugin id="org.eclipse.jetty.http"/>
		<plugin id="org.eclipse.jetty.io"/>
		<plugin id="org.eclipse.jetty.security"/>
		<plugin id="org.eclipse.jetty.server"/>
		<plugin id="org.eclipse.jetty.servlet-api" version="4.0.6"/>
		<plugin id="org.eclipse.jetty.session"/>
		<plugin id="org.eclipse.jetty.util"/>
		<plugin id="org.eclipse.jface"/>
		<plugin id="org.eclipse.jface.databinding"/>
		<plugin id="org.eclipse.jface.notifications"/>
		<plugin id="org.eclipse.jface.text"/>
		<plugin id="org.eclipse.ltk.core.refactoring"/>
		<plugin id="org.eclipse.ltk.ui.refactoring"/>
		<plugin id="org.eclipse.orbit.xml-apis-ext" version="1.0.0.v20230923-0644"/>
		<plugin id="org.eclipse.osgi.services" version="3.12.100.v20240327-0645"/>
		<plugin id="org.eclipse.osgi.util"/>
		<plugin id="org.eclipse.osgi" version="3.20.0.v20240509-1421"/>
		<plugin id="org.eclipse.search"/>
		<plugin id="org.eclipse.search.core"/>
		<plugin id="org.eclipse.swt" version="3.126.0.v20240528-0813"/>
		<plugin id="org.eclipse.team.core"/>
		<plugin id="org.eclipse.team.ui"/>
		<plugin id="org.eclipse.text" version="3.14.100.v20240524-2010"/>
		<plugin id="org.eclipse.tools.templates.core"/>
		<plugin id="org.eclipse.tools.templates.freemarker"/>
		<plugin id="org.eclipse.tools.templates.ui"/>
		<plugin id="org.eclipse.ui"/>
		<plugin id="org.eclipse.ui.console"/>
		<plugin id="org.eclipse.ui.editors"/>
		<plugin id="org.eclipse.ui.forms"/>
		<plugin id="org.eclipse.ui.ide"/>
		<plugin id="org.eclipse.ui.navigator"/>
		<plugin id="org.eclipse.ui.navigator.resources"/>
		<plugin id="org.eclipse.ui.views"/>
		<plugin id="org.eclipse.ui.views.properties.tabbed"/>
		<plugin id="org.eclipse.ui.workbench"/>
		<plugin id="org.eclipse.ui.workbench.texteditor"/>
		<plugin id="org.eclipse.urischeme"/>
		<plugin id="org.freemarker.freemarker" version="2.3.32.stable"/>
		<plugin id="org.glassfish.hk2.osgi-resource-locator"/>
		<plugin id="org.hamcrest.core" version="1.3.0.v20230809-1000"/>
		<plugin id="org.jdom" version="1.1.3.v20230812-1600"/>
		<plugin id="org.junit" version="4.13.2.v20230809-1000"/>
		<plugin id="org.ops4j.pax.logging.pax-logging-api"/>
		<plugin id="org.ops4j.pax.logging.pax-logging-log4j2"/>
		<plugin id="org.osgi.service.cm" version="1.6.1.202109301733"/>
		<plugin id="org.osgi.service.component" version="1.5.1.202212101352"/>
		<plugin id="org.osgi.service.device" version="1.1.1.202109301733"/>
		<plugin id="org.osgi.service.event" version="1.4.1.202109301733"/>
		<plugin id="org.osgi.service.http.whiteboard" version="1.1.1.202109301733"/>
		<plugin id="org.osgi.service.metatype" version="1.4.1.202109301733"/>
		<plugin id="org.osgi.service.prefs" version="1.1.2.202109301733"/>
		<plugin id="org.osgi.service.provisioning" version="1.2.0.201505202024"/>
		<plugin id="org.osgi.service.upnp" version="1.2.1.202109301733"/>
		<plugin id="org.osgi.service.useradmin" version="1.1.1.202109301733"/>
		<plugin id="org.osgi.service.wireadmin" version="1.0.2.202109301733"/>
		<plugin id="org.osgi.util.function" version="1.2.0.202109301733"/>
		<plugin id="org.osgi.util.measurement" version="1.0.2.201802012109"/>
		<plugin id="org.osgi.util.position" version="1.0.1.201505202026"/>
		<plugin id="org.osgi.util.promise" version="1.3.0.202212101352"/>
		<plugin id="org.osgi.util.xml" version="1.0.2.202109301733"/>
		<plugin id="org.tukaani.xz" version="1.9"/>
		<plugin id="org.yaml.snakeyaml"/>
		<plugin id="wrapped.net.sf.trove4j.trove4j"/>
		<plugin id="wrapped.xerces.xercesImpl"/>
		<plugin id="wrapped.io.github.uuverifiers.eldarica_2.12"/>
		<plugin id="wrapped.io.github.uuverifiers.princess_2.12"/>
		<plugin id="org.scala-lang.scala-library"/>
		<!-- Architecture-specific bundles -->
		<plugin id="org.eclipse.cdt.core.macosx"/>
		<plugin id="org.eclipse.core.filesystem.macosx"/>
		<plugin id="org.eclipse.e4.ui.workbench.renderers.swt.cocoa"/>
		<plugin id="org.eclipse.equinox.security.macosx"/>
		<plugin id="org.eclipse.swt.cocoa.macosx.x86_64" version="3.126.0.v20240528-0813"/>
		<plugin id="org.eclipse.ui.cocoa"/>
	</includeBundles>
</target>
