<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="de.uni_freiburg.informatik.ultimate.ep.controller">
      <impl
            class="de.uni_freiburg.informatik.ultimate.gui.GuiController"
            isGraphical="true"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.uni_freiburg.informatik.ultimate.gui.UltimateDefaultPerspective"
            id="de.uni_freiburg.informatik.ultimate.gui.UltimateDefaultPerspective"
            name="default perspective"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.uni_freiburg.informatik.ultimate.gui.views.LoggingView"
            id="de.uni_freiburg.informatik.ultimate.gui.views.LoggingView"
            name="Logging Window"/>
      <view
            class="de.uni_freiburg.informatik.ultimate.gui.views.NodeView"
            id="de.uni_freiburg.informatik.ultimate.gui.views.NodeView"
            name="NodeView"/>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
          <perspectiveExtension targetID="de.uni_freiburg.informatik.ultimate.gui.UltimateDefaultPerspective">               
               <view 
               id="de.uni_freiburg.informatik.ultimate.gui.views.NodeView" 
               relationship="stack"               
               relative="de.uni_freiburg.informatik.ultimate.gui.UltimateDefaultPerspective.FolderRight"
               ratio="0.8f"/>
          </perspectiveExtension>
</extension>
   
   <extension
         point="de.uni_freiburg.informatik.ultimate.ep.LoggingWindow">
      <impl class="de.uni_freiburg.informatik.ultimate.gui.logging.GuiLoggingWindow"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="GuiRCP.toolbar1">
            <control
                  class="de.uni_freiburg.informatik.ultimate.gui.contrib.PreludeContribution"
                  id="de.uni_freiburg.informatik.ultimate.gui.contrib.Prelude">
            </control>
         </toolbar>
      </menuContribution>
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="de.uni_freiburg.informatik.ultimate.gui.preferencepages.UltimatePreferencePage"
            id="de.uni_freiburg.informatik.ultimate.gui.preferencepages.UltimatePreferencePage"
            name="Ultimate Preferences"/>
      <page
            category="de.uni_freiburg.informatik.ultimate.gui.preferencepages.UltimatePreferencePage"
            class="de.uni_freiburg.informatik.ultimate.gui.preferencepages.OutputPreferencePage"
            id="de.uni_freiburg.informatik.ultimate.gui.preferencepages.OutputPreferencePage"
            name="Output Plugins"/>
      <page
            category="de.uni_freiburg.informatik.ultimate.gui.preferencepages.UltimatePreferencePage"
            class="de.uni_freiburg.informatik.ultimate.gui.preferencepages.ToolsPreferencePage"
            id="de.uni_freiburg.informatik.ultimate.gui.preferencepages.ToolsPreferencePage"
            name="Tool Plugins"/>            
      <page
            category="de.uni_freiburg.informatik.ultimate.gui.preferencepages.UltimatePreferencePage"
            class="de.uni_freiburg.informatik.ultimate.gui.preferencepages.CorePreferencePage"
            id="de.uni_freiburg.informatik.ultimate.gui.preferencepages.CorePreferencePage"
            name="Core Preferences"/>
      <page
            category="de.uni_freiburg.informatik.ultimate.gui.preferencepages.CorePreferencePage"
            class="de.uni_freiburg.informatik.ultimate.gui.preferencepages.LoggingPreferencePage"
            id="de.uni_freiburg.informatik.ultimate.gui.preferencepages.LoggingPreferencePage"
            name="Log Levels" />
      
      <page
            category="de.uni_freiburg.informatik.ultimate.gui.preferencepages.LoggingPreferencePage"
            class="de.uni_freiburg.informatik.ultimate.gui.preferencepages.LoggingDetailsPreferencePage"
            id="de.uni_freiburg.informatik.ultimate.gui.preferencepages.LoggingDetailsPreferencePage"
            name="Plug-in-specific Log Levels" />
      
      <page
            category="de.uni_freiburg.informatik.ultimate.gui.preferencepages.LoggingPreferencePage"
            class="de.uni_freiburg.informatik.ultimate.gui.preferencepages.LoggingToolsPreferencePage"
            id="de.uni_freiburg.informatik.ultimate.gui.preferencepages.LoggingToolsPreferencePage"
            name="Log Levels for external tools" />
      
      <page
            category="de.uni_freiburg.informatik.ultimate.gui.preferencepages.CorePreferencePage"
            class="de.uni_freiburg.informatik.ultimate.gui.preferencepages.ModelManagerPreferencePage"
            id="de.uni_freiburg.informatik.ultimate.gui.preferencepages.ModelManagerPreferencePage"
            name="Model Manager" />
      
      <page
            category="de.uni_freiburg.informatik.ultimate.gui.preferencepages.CorePreferencePage"
            class="de.uni_freiburg.informatik.ultimate.gui.preferencepages.LogFilePreferencePage"
            id="de.uni_freiburg.informatik.ultimate.gui.preferencepages.LogFilePreferencePage"
            name="Log File" />      
   </extension>
   
</plugin>
