<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.uni_freiburg.informatik.ultimate.ep.controller">
      <impl
            class="de.uni_freiburg.informatik.ultimate.gui.GuiController"
            isGraphical="true" preference="100"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.uni_freiburg.informatik.ultimate.gui.UltimateDefaultPerspective"
            id="de.uni_freiburg.informatik.ultimate.gui.UltimateDefaultPerspective"
            name="default perspective"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.uni_freiburg.informatik.ultimate.gui.views.LoggingView"
            id="de.uni_freiburg.informatik.ultimate.gui.views.LoggingView"
            name="Logging Window"/>
      <view
            class="de.uni_freiburg.informatik.ultimate.gui.views.NodeView"
            id="de.uni_freiburg.informatik.ultimate.gui.views.NodeView"
            name="NodeView"/>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
          <perspectiveExtension targetID="de.uni_freiburg.informatik.ultimate.gui.UltimateDefaultPerspective">               
               <view 
               id="de.uni_freiburg.informatik.ultimate.gui.views.NodeView" 
               relationship="stack"               
               relative="de.uni_freiburg.informatik.ultimate.gui.UltimateDefaultPerspective.FolderRight"
               ratio="0.8f"/>
          </perspectiveExtension>
	</extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="Core"
            class="de.uni_freiburg.informatik.ultimate.gui.preferencepages.LoggingSpecificPluginsPreferencePage"
            id="de.uni_freiburg.informatik.ultimate.gui.preferencepages.LoggingDetailsPreferencePage"
            name="Plug-in-specific Log Levels" />
      
      <page
            category="Core"
            class="de.uni_freiburg.informatik.ultimate.gui.preferencepages.LoggingExternalToolsPreferencePage"
            id="de.uni_freiburg.informatik.ultimate.gui.preferencepages.LoggingToolsPreferencePage"
            name="Log Levels for external tools" />
   </extension>
</plugin>
