<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="automaticAdd" value="true"/>
<booleanAttribute key="automaticValidate" value="false"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/OSGI Console Startup"/>
<booleanAttribute key="default" value="true"/>
<booleanAttribute key="default_auto_start" value="true"/>
<intAttribute key="default_start_level" value="4"/>
<booleanAttribute key="includeOptional" value="true"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Declipse.ignoreApp=true -Dosgi.noShutdown=true"/>
<stringAttribute key="pde.version" value="3.3"/>
<setAttribute key="selected_target_bundles">
<setEntry value="com.google.gson@default:default"/>
<setEntry value="com.ibm.icu@default:default"/>
<setEntry value="javax.activation@default:default"/>
<setEntry value="javax.annotation@default:default"/>
<setEntry value="javax.inject@default:default"/>
<setEntry value="javax.mail@default:default"/>
<setEntry value="javax.servlet*3.0.0.v201112011016@default:default"/>
<setEntry value="javax.servlet*3.1.0.v201410161800@default:default"/>
<setEntry value="javax.transaction@default:false"/>
<setEntry value="javax.xml.bind@default:default"/>
<setEntry value="javax.xml.stream@default:default"/>
<setEntry value="javax.xml@default:default"/>
<setEntry value="org.apache.batik.constants@default:default"/>
<setEntry value="org.apache.batik.css@default:default"/>
<setEntry value="org.apache.batik.i18n@default:default"/>
<setEntry value="org.apache.batik.util@default:default"/>
<setEntry value="org.apache.commons.io@default:default"/>
<setEntry value="org.apache.commons.jxpath@default:default"/>
<setEntry value="org.apache.commons.logging@default:default"/>
<setEntry value="org.apache.felix.gogo.command@default:default"/>
<setEntry value="org.apache.felix.gogo.runtime@default:default"/>
<setEntry value="org.apache.felix.gogo.shell@default:default"/>
<setEntry value="org.apache.felix.scr@1:true"/>
<setEntry value="org.apache.xmlgraphics@default:default"/>
<setEntry value="org.eclipse.ant.core@default:default"/>
<setEntry value="org.eclipse.cdt.codan.core.cxx@default:default"/>
<setEntry value="org.eclipse.cdt.codan.core@default:default"/>
<setEntry value="org.eclipse.cdt.codan.ui@default:default"/>
<setEntry value="org.eclipse.cdt.core.native@default:default"/>
<setEntry value="org.eclipse.cdt.core.win32.x86_64@default:false"/>
<setEntry value="org.eclipse.cdt.core.win32@default:false"/>
<setEntry value="org.eclipse.cdt.core@default:default"/>
<setEntry value="org.eclipse.cdt.ui@default:default"/>
<setEntry value="org.eclipse.compare.core@default:default"/>
<setEntry value="org.eclipse.compare@default:default"/>
<setEntry value="org.eclipse.core.commands@default:default"/>
<setEntry value="org.eclipse.core.contenttype@default:default"/>
<setEntry value="org.eclipse.core.databinding.observable@default:default"/>
<setEntry value="org.eclipse.core.databinding.property@default:default"/>
<setEntry value="org.eclipse.core.databinding@default:default"/>
<setEntry value="org.eclipse.core.expressions@default:default"/>
<setEntry value="org.eclipse.core.filebuffers@default:default"/>
<setEntry value="org.eclipse.core.filesystem.win32.x86_64@default:false"/>
<setEntry value="org.eclipse.core.filesystem@default:default"/>
<setEntry value="org.eclipse.core.jobs@default:default"/>
<setEntry value="org.eclipse.core.resources.win32.x86_64@default:false"/>
<setEntry value="org.eclipse.core.resources@default:default"/>
<setEntry value="org.eclipse.core.runtime@default:true"/>
<setEntry value="org.eclipse.core.variables@default:default"/>
<setEntry value="org.eclipse.e4.core.commands@default:default"/>
<setEntry value="org.eclipse.e4.core.contexts@default:default"/>
<setEntry value="org.eclipse.e4.core.di.annotations@default:default"/>
<setEntry value="org.eclipse.e4.core.di.extensions.supplier@default:default"/>
<setEntry value="org.eclipse.e4.core.di.extensions@default:default"/>
<setEntry value="org.eclipse.e4.core.di@default:default"/>
<setEntry value="org.eclipse.e4.core.services@default:default"/>
<setEntry value="org.eclipse.e4.emf.xpath@default:default"/>
<setEntry value="org.eclipse.e4.ui.bindings@default:default"/>
<setEntry value="org.eclipse.e4.ui.css.core@default:default"/>
<setEntry value="org.eclipse.e4.ui.css.swt.theme@default:default"/>
<setEntry value="org.eclipse.e4.ui.css.swt@default:default"/>
<setEntry value="org.eclipse.e4.ui.di@default:default"/>
<setEntry value="org.eclipse.e4.ui.model.workbench@default:default"/>
<setEntry value="org.eclipse.e4.ui.services@default:default"/>
<setEntry value="org.eclipse.e4.ui.widgets@default:default"/>
<setEntry value="org.eclipse.e4.ui.workbench.addons.swt@default:default"/>
<setEntry value="org.eclipse.e4.ui.workbench.renderers.swt@default:default"/>
<setEntry value="org.eclipse.e4.ui.workbench.swt@default:default"/>
<setEntry value="org.eclipse.e4.ui.workbench3@default:default"/>
<setEntry value="org.eclipse.e4.ui.workbench@default:default"/>
<setEntry value="org.eclipse.emf.common@default:default"/>
<setEntry value="org.eclipse.emf.ecore.change@default:default"/>
<setEntry value="org.eclipse.emf.ecore.xmi@default:default"/>
<setEntry value="org.eclipse.emf.ecore@default:default"/>
<setEntry value="org.eclipse.equinox.app@default:default"/>
<setEntry value="org.eclipse.equinox.bidi@default:default"/>
<setEntry value="org.eclipse.equinox.common@2:true"/>
<setEntry value="org.eclipse.equinox.console@default:default"/>
<setEntry value="org.eclipse.equinox.ds@1:true"/>
<setEntry value="org.eclipse.equinox.event@default:default"/>
<setEntry value="org.eclipse.equinox.http.jetty.source*3.7.100.v20190516-1504"/>
<setEntry value="org.eclipse.equinox.http.jetty@default:default"/>
<setEntry value="org.eclipse.equinox.http.registry@default:default"/>
<setEntry value="org.eclipse.equinox.http.servlet@default:default"/>
<setEntry value="org.eclipse.equinox.p2.core@default:default"/>
<setEntry value="org.eclipse.equinox.p2.engine@default:default"/>
<setEntry value="org.eclipse.equinox.p2.metadata.repository@default:default"/>
<setEntry value="org.eclipse.equinox.p2.metadata@default:default"/>
<setEntry value="org.eclipse.equinox.p2.repository@default:default"/>
<setEntry value="org.eclipse.equinox.preferences@default:default"/>
<setEntry value="org.eclipse.equinox.region@default:false"/>
<setEntry value="org.eclipse.equinox.registry@default:default"/>
<setEntry value="org.eclipse.equinox.security.win32.x86_64@default:false"/>
<setEntry value="org.eclipse.equinox.security@default:default"/>
<setEntry value="org.eclipse.equinox.supplement@default:default"/>
<setEntry value="org.eclipse.equinox.transforms.hook@default:false"/>
<setEntry value="org.eclipse.equinox.util@default:default"/>
<setEntry value="org.eclipse.equinox.weaving.hook@default:false"/>
<setEntry value="org.eclipse.help@default:default"/>
<setEntry value="org.eclipse.jdt.annotation*2.2.300.v20190328-1431@default:default"/>
<setEntry value="org.eclipse.jetty.continuation*9.4.18.v20190429@default:default"/>
<setEntry value="org.eclipse.jetty.http*9.4.18.v20190429@default:default"/>
<setEntry value="org.eclipse.jetty.http.source*9.4.18.v20190429"/>
<setEntry value="org.eclipse.jetty.io*9.4.18.v20190429@default:default"/>
<setEntry value="org.eclipse.jetty.io.source*9.4.18.v20190429"/>
<setEntry value="org.eclipse.jetty.osgi.npn.fragment@default:false"/>
<setEntry value="org.eclipse.jetty.security*9.4.18.v20190429@default:default"/>
<setEntry value="org.eclipse.jetty.security.source*9.4.18.v20190429"/>
<setEntry value="org.eclipse.jetty.server*9.4.18.v20190429@default:default"/>
<setEntry value="org.eclipse.jetty.server.source*9.4.18.v20190429"/>
<setEntry value="org.eclipse.jetty.servlet*9.4.18.v20190429@default:default"/>
<setEntry value="org.eclipse.jetty.servlet.source*9.4.18.v20190429"/>
<setEntry value="org.eclipse.jetty.servlets@default:default"/>
<setEntry value="org.eclipse.jetty.util*9.4.18.v20190429@default:default"/>
<setEntry value="org.eclipse.jetty.util.source*9.4.18.v20190429"/>
<setEntry value="org.eclipse.jetty.webapp*9.4.18.v20190429@default:default"/>
<setEntry value="org.eclipse.jetty.xml*9.4.18.v20190429@default:default"/>
<setEntry value="org.eclipse.jface.databinding@default:default"/>
<setEntry value="org.eclipse.jface.text@default:default"/>
<setEntry value="org.eclipse.jface@default:default"/>
<setEntry value="org.eclipse.ltk.core.refactoring@default:default"/>
<setEntry value="org.eclipse.ltk.ui.refactoring@default:default"/>
<setEntry value="org.eclipse.osgi.compatibility.state@default:false"/>
<setEntry value="org.eclipse.osgi.services@default:default"/>
<setEntry value="org.eclipse.osgi.util@default:default"/>
<setEntry value="org.eclipse.osgi@-1:true"/>
<setEntry value="org.eclipse.search@default:default"/>
<setEntry value="org.eclipse.swt.win32.win32.x86_64@default:false"/>
<setEntry value="org.eclipse.swt@default:default"/>
<setEntry value="org.eclipse.team.core@default:default"/>
<setEntry value="org.eclipse.team.ui@default:default"/>
<setEntry value="org.eclipse.text@default:default"/>
<setEntry value="org.eclipse.tools.templates.core@default:default"/>
<setEntry value="org.eclipse.tools.templates.ui@default:default"/>
<setEntry value="org.eclipse.ui.console@default:default"/>
<setEntry value="org.eclipse.ui.editors@default:default"/>
<setEntry value="org.eclipse.ui.forms@default:default"/>
<setEntry value="org.eclipse.ui.ide@default:default"/>
<setEntry value="org.eclipse.ui.navigator.resources@default:default"/>
<setEntry value="org.eclipse.ui.navigator@default:default"/>
<setEntry value="org.eclipse.ui.trace@default:default"/>
<setEntry value="org.eclipse.ui.views.properties.tabbed@default:default"/>
<setEntry value="org.eclipse.ui.views@default:default"/>
<setEntry value="org.eclipse.ui.win32@default:false"/>
<setEntry value="org.eclipse.ui.workbench.texteditor@default:default"/>
<setEntry value="org.eclipse.ui.workbench@default:default"/>
<setEntry value="org.eclipse.ui@1:true"/>
<setEntry value="org.hamcrest.core@default:default"/>
<setEntry value="org.junit@default:default"/>
<setEntry value="org.tukaani.xz@default:default"/>
<setEntry value="org.w3c.css.sac@default:default"/>
<setEntry value="org.w3c.dom.events@default:default"/>
<setEntry value="org.w3c.dom.smil@default:default"/>
<setEntry value="org.w3c.dom.svg@default:default"/>
</setAttribute>
<setAttribute key="selected_workspace_bundles">
<setEntry value="com.github.jhoenicke.javacup@default:default"/>
<setEntry value="com.lmax.disruptor@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.acsl.parser@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.astbuilder@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.boogie.dsitransformer@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.boogie.parser@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.boogie.preprocessor.test@default:false"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.boogie.preprocessor@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.boogie.printer@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.boogie.procedureinliner@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.buchiprogramproduct@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.cdt.parser@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.cdt@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.chcprinter@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.cli@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.constraintparser@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.controller.eliminator@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.cookiefy@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.core.test@default:false"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.core@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.crocotta@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.deltadebugger@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.gui.logging@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.gui.preferencepages@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.gui@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.automata.test@default:false"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.automata@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.boogieast@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.chc@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.core@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.icfgtransformer.test@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.icfgtransformer@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.lassoranker@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.mcr@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.modelcheckerutils.test@default:false"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.modelcheckerutils@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.mso.test@default:false"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.mso@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.pathexpressions.test@default:false"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.pathexpressions@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.pdr@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.pea.test@default:false"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.pea@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.sifa.test@default:false"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.sifa@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.smtlib.test@default:false"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.smtlib@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.srparse.test@default:false"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.srparse@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.test.test@default:false"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.test@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.ultimatemodel@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.util.test@default:false"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.lib.util@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.ltl2aut@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.output.cfgconsoleout@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.pea2boogie.test@default:false"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.pea2boogie@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.analysis.abstractinterpretationv2.test@default:false"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.analysis.abstractinterpretationv2@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.analysis.automatondeltadebugger@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.analysis.irsdependencies@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.analysis.lassoranker@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.analysis.reachingdefinitions@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.analysis.syntaxchecker@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.blockencoding@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.chctoboogie@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.chcsolver@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.generator.automatascriptinterpreter@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.generator.blockencoding@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.generator.buchiautomizer@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.generator.cacsl2boogietranslator@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.generator.codecheck@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.generator.invariantsynthesis@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.generator.modsetannotator@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.generator.rcfgbuilder@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.generator.referee@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.generator.traceabstraction@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.generator.traceabstractionconcurrent@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.generator.traceabstractionwithafas@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.generator.treeautomizer@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.icfgtochc@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.icfgtransformation@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.output.jungvisualization@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.sifa@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.source.automatascriptparser@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.spaceex.parser.test@default:false"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.plugins.spaceex.parser@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.regressiontest@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.req.printer@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.reqparser@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.reqtotest@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.reqtotestpowerset@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.smtinterpol.test@default:false"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.smtinterpol@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.smtsolver.external.test@default:false"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.smtsolver.external@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.source.smtparser@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.ultimatetest@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.witnessparser@default:default"/>
<setEntry value="de.uni_freiburg.informatik.ultimate.witnessprinter@default:default"/>
<setEntry value="edu.uci.ics.jung@default:default"/>
<setEntry value="net.sf.javabdd@default:default"/>
<setEntry value="net.sourceforge.czt@default:default"/>
<setEntry value="org.apache.batik@default:default"/>
<setEntry value="org.apache.commons.cli@default:default"/>
<setEntry value="org.apache.commons.lang@default:default"/>
<setEntry value="org.apache.log4j@default:default"/>
<setEntry value="org.apache.logging.log4j@default:default"/>
<setEntry value="org.apache.xerces@default:default"/>
<setEntry value="org.jdom@default:default"/>
<setEntry value="org.ojalgo@default:default"/>
<setEntry value="webinterface-jetty-test@default:default"/>
<setEntry value="webinterfacejetty@default:default"/>
</setAttribute>
<booleanAttribute key="show_selected_only" value="false"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useCustomFeatures" value="false"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
</launchConfiguration>
