<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="de.uni_freiburg.informatik.ultimate.ep.generator">
      <impl class="de.uni_freiburg.informatik.ultimate.plugins.generator.blockendcoding.BlockEncoding">
      </impl>
   </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="de.uni_freiburg.informatik.ultimate.gui.preferencepages.ToolsPreferencePage"
          class="de.uni_freiburg.informatik.ultimate.plugins.generator.blockendcoding.preferences.PreferencePage"
          id="BlockEncoding.page1"
          name="BlockEncoding">
    </page>
 </extension>
</plugin>
