# PORT (int) ................ : determines the port the jetty server will be listening.
# BACKEND_ROUTE (string) .... : The URL prefix, the API will be served at.
#                               E.g. /api results in http://localhost:PORT/api
# SETTINGS_WHITELIST (string) : Path to a local user settings whitelist.
PORT=8080
BACKEND_ROUTE=/api
SETTINGS_WHITELIST=C:\\path\\to\\settings_whitelist.json

# SERVE_WEBSITE (bool) .... : True will also serve the Frontend.
#                             If set to True, FRONTEND_PATH and FRONTEND_ROUTE should be set.
# FRONTEND_PATH (string) .. : Path to the `WebsiteStatic` folder containing the Frontend.
# FRONTEND_ROUTE (string) . : The URL prefix, the FRONTEND will be served at.
#                             E.g. /website results in http://localhost:PORT/website
SERVE_WEBSITE=True
FRONTEND_PATH=C:\\path\\to\\WebsiteStatic
FRONTEND_ROUTE=/website

# LOG_FILE_PATH (string) .. : Absolute (or relative from java.class.path) path to the log file.
# LOG_LEVEL (string) ...... : Logging verbosity. Choose from: ALL, DEBUG, INFO, WARN, OFF
LOG_FILE_PATH=C:\\path\\to\\var\\log\\logfile.log
LOG_LEVEL=INFO

TMP_DIR=

# Timeout in seconds for any request
FORCED_TIMEOUT=90