<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="local.stalin.ep.output">
      <impl class="local.stalin.plugins.safetychecker.SafetyChecker"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="local.stalin.plugins.safetychecker.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="local.stalin.plugins.safetychecker.preferences.PreferencePage"
            id="SafetyChecker.page1"
            name="Safety Checker">
      </page>
   </extension>

</plugin>
