<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.uni_freiburg.informatik.ultimate.ep.source">
      <impl class="de.uni_freiburg.informatik.ultimate.LTL2aut.LTL2aut"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.uni_freiburg.informatik.ultimate.core.coreplugin.preferences.ToolsPreferencePage"
            class="de.uni_freiburg.informatik.ultimate.LTL2aut.preferences.PreferencePage"
            id="LTL2aut.prefpage"
            name="LTL2aut">
      </page>
   </extension>

</plugin>
